/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght+@200;@400;600&display-swap"); */
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght+@200;@400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #894994;
  color: white;
  font-family: "PT Serif", sans-serif;
  margin: 0;
}

.root {
  flex-direction: column;
  display: flex;
}
.movie {
  width: 300px;
  margin: 1rem;
  background-color: #773385;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}

.movie img {
  max-width: 100%;
}

header {
  background-color: #773385;
  display: flex;
  padding: 1rem;
  justify-content: flex-end;
}

.search {
  border: 1.5px solid white;
  border-radius: 50px;
  background-color: transparent;
  color: white;
  padding: 0.5rem 1.5rem;
  font-family: inherit;
  font-size: 1.2rem;
}
.movie-container {
  display: flex;
  flex-wrap: wrap;
}

.movie-info {
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin: 0;
}

.movie-info span {
  color: rgb(246, 183, 23);
  background-color: #572761;
}

.movie-overview {
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: black;
  padding: 1rem;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
  overflow: auto;
  max-height: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
}

.movie:hover .movie-overview {
  transform: translateX(0%);
}
